<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
            </div>
        {% endfor %}
<form method="post">
    {% csrf_token %}
    {{ form.text_link }}
    {{ form.text_password }}
    <input type="submit" value="Submit">
</form>
<br>
<br>
<br>
<br>
<br>
<form method="post" action="{% url 'textBro:verify' %}">
    {% csrf_token %}
    <input type="text" name="text-link">
    <input type="text" name="text-password">
    <input type="submit" value="Submit">
</form>
</body>
</html>